<div class="footer_container">
  <div class="idea">
    <img src="assets/ReventPattern.svg" alt="" loading="lazy" />
    <div class="description">
      <h2>Got an idea?</h2>
      <p>Let's bring it to life with our expert technology service.</p>
      <div class="icon">
        <button>
          <span> Tell us about it </span>
          <lucide-icon
            name="arrow-right"
            [size]="24"
            [strokeWidth]="2"
          ></lucide-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="logo">
      <img src="assets/logos/footer_logo.svg" />
    </div>
    <div class="footer_links">
      <div class="others">
        <div class="footer_list" *ngFor="let item of footer">
          <h4>{{ item.title }}</h4>
  
          <p *ngFor="let point of item.point">{{ point }}</p>
          <div class="icons">
              <img *ngFor="let icon of item.icon" src="{{ icon }}">
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>© 2023 Revent Tecnologies. All Rights Reserved.</p>
    </div>
  </div>
</div>
