.trustees{
    display: flex;
    flex-direction: column;
    

    .header{
        display: flex;
        margin: 0;
        justify-content: center;
        text-align: center;
        padding-top: 2.625rem;

        h4{
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 2rem;
            letter-spacing: 2%;
            margin: 0;
        }
      
    }
    .trustee {
        display: flex;
        position: relative;
        overflow: hidden;
        width: 100%;
        padding: 4.75rem 0 6.22rem;
        left: 9rem;
    
        .trustee_track {
          display: inline-block;
          white-space: nowrap;
          animation: scroll-left 20s linear infinite;
    
          img {
            width: auto;
            height: auto; 
            margin-right: 5rem;
            vertical-align: middle;
          }
        }
    
        @keyframes scroll-left {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-100%);
          }
        }
      }
}





@media only screen and (max-width: 768px) {
    .trustees{
        .header{
            h4{
                font-size: 1rem;
            }
        }
        .trustee {
            
            left: 2rem;
            display: flex;
            gap: 3rem;
           
        
             
    
        .trustee_track {
          
            gap: 3rem;
        
          
    
       
    
         
    }
    }
}
}