<div class="trustees">
    <div class="header">
        <h1>We are trusted by enterprises and startups like:</h1>
    </div>
  

         <div class="trustee">
        <div class="trustee_track" >
      
         <img *ngFor="let trustee of trustees" [src]="trustee.img" alt="" >
    
        
        </div>
        <div class="trustee_track" >
      
            <img *ngFor="let trustee of trustees" [src]="trustee.img" alt="" >
       
           
           </div>
        
     </div>
   </div>


  