<div class="scope_container">
    <div class="scopes">
     <div class="sidebar">
         <h5>Scope/work Timeline</h5>
     </div>
     <div class="main">
         <div class="main_scope">
             <h3>Research</h3>
             <p>We ran an indepth research on the product before diving into the design steps. We outlined issues we might encounter and procured solutions to those issues to develop a winning user experience.</p>
             <div class="blur_bg">
                <div class="btn_container">
                <div class="item">
                    <button>Discovery</button>
                </div>
                <div class="item">
                    <button>Features list</button>
                    <button>User Journey Map</button>
                    <button>Userflow</button>
                </div>
                <div class="item">
                    <button>Visuals</button>
                    <button>Prototype</button>
                </div>
                <div class="item">
                    <button>Development</button>
                    <button>Testing</button>
                </div>
                </div>
             </div>
         </div>
     </div>
    </div>
 </div>