.other_container {
  display: flex;
  flex-direction: column;
  gap: 4.5625rem;
  padding: 6.375rem 9rem 7.25rem;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .typing_text {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 3.75rem;
      color: #7433d3;
      animation: typing 3s steps(30, end) infinite;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;

      @keyframes typing {
        from {
          width: 10%;
        }
        to {
          width: 100%;
        }
      }
    }
  }

  .content {
    display: flex;
    gap: 3rem;
    justify-content: center;
    .other {
      position: relative;
      width: 100%;
      border-radius: 0.625rem;
      border: solid 1px #dedede;
      padding: 1.375rem 2.6875rem;
      overflow: hidden;
      gap: 0.875rem;

      .hover_img {
        display: none;
      }

      img {
        width: 70%;
        height: auto;
      }
      h4 {
        color: #7433d3;
        font-size: 1rem;
        line-height: 1.75rem;
        margin: 0;
      }
      h3 {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1rem 0;
        margin: 0;
      }
      p {
        font-size: 1rem;
        line-height: 1.75rem;
        margin: 0;
      }

      &:hover {
        img {
          width: 100%;
          height: auto;
        }
        @keyframes zoom {
        
          100% {
            scale: 200%;
          }
        }
        .hover_img {
          display: flex;
          z-index: -1;
          position: absolute;
          left: -5%;
          top: -7%;
          width: 8.375rem;
          padding: 0;
          opacity: 0.5;
          animation: zoom 1s ease;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .other_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem 3rem;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .typing_text {
        font-size: 1rem;
        line-height: 2rem;
      }
    }

    .content {
      flex-direction: column;
      gap: 2rem;
      justify-content: center;

      .other {
        border-radius: 0.625rem;
        border: solid 1px #dedede;
        padding: 1rem 2rem;

        h4 {
          font-size: 1rem;
          line-height: 1.5rem;
        }
        h3 {
          font-size: 1.5rem;
          line-height: 2rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.5rem;
        }

        &:hover {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
