<div class="other_container">
    <div class="header">
        <h2 class="typing_text">Other products we've worked on:</h2>

            <a href="https://medium.com/@reventsocial">
                <img src="assets/icons/redirect.svg" alt="">
            </a>
 
    </div>

    <div class="content">
        <div class="other" *ngFor="let other of others">
            <img class="hover_img" src="assets/logos/flwnlogo.png" alt="">
            <img [src]="other.img" alt="">
            <h4>{{other.dept}}</h4>
            <h3>{{other.title}}</h3>
            <p class="content-description">{{other.desc}}</p>
        </div>
    </div>
</div>