<div class="testimonial_container">
  <div class="bg_container">
    <img class="bg" src="assets/bg/testimonial-bg.jpg" alt="" loading="lazy" />
    <img class="frame" src="assets/bg/Frame.png" alt="" loading="lazy">
  </div>
  
    <div class="client">
      <div class="client_header">
        <h1>What our clients say</h1>
        <p>
          Our team of expert developers, designers, and data analysts are
          dedicated to providing our clients with cutting-edge technology that
          drives success and growth.
        </p>
      </div>
      <div class="client_testimonial">
        <div class="testimonial">
          <p>
            “The custom software solution built by Revent has transformed the way
            we do business. It has improved our productivity, reduced costs, and
            enabled us to offer better services to our customers. The
            user-friendly interface and intuitive design make it easy for our
            employees to use, and the software has been highly reliable since its
            deployment”
          </p>
          <div class="details">
            <lucide-icon name="chevron-left" [size]="48"></lucide-icon>
            <lucide-icon name="chevron-left" class="mobile_icon"></lucide-icon>
            
            <div class="client_details">
              <img src="assets/client.svg" alt="" loading="lazy" />
              <span>Owonikoko Adisa</span>
              <p>Business Head - Sterling Bank</p>
            </div>
            <lucide-icon name="chevron-right" [size]="48"></lucide-icon>
            <lucide-icon name="chevron-right" class="mobile_icon"></lucide-icon>
         
          </div>
        </div>
      </div>
    </div> 
  </div>

