.testimonial_container {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #04001f;
  color: #fff;

  .bg_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04001f;
    width: 100%;
    height: auto;
    background-image: url("/assets/bg/Frame.png"),url("/assets/bg/image.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .client {
    .client_header {
      max-width: 45.9375rem;
      margin: 0 auto;
      padding-top: 6.625rem;
      padding-bottom: 4.375rem;
      text-align: center;

      h1 {
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 3.625rem;
        margin: 0;
        padding: 0;
      }

      p {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 2rem;
        margin: 0;
        padding: 0;
        margin-top: 1.375rem;
      }
    }

    .client_testimonial {
      max-width: 59.625rem;
      margin: 0 2rem;
      margin-bottom: 3.625rem;

      .testimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #0e061b;
        padding: 4.75rem 7.375rem 0;
        p {
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 2rem;
          margin: 0;
          letter-spacing: 0;
          margin-bottom: 5.375rem;
        }

        .details {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 1.375rem;

          lucide-icon {
            color: #0e061b;
            background-color: #fff;
            border-radius: 50%;
          }
          .mobile_icon{
            display: none;
          }
          .client_details {
            width: 18.4375rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 7.5rem;

            img {
              width: 4.5rem;
              height: 4.5rem;
            }

            span {
              font-weight: 400;
              font-size: 1.125rem;
              line-height: 2rem;
            }
            p {
              font-weight: 700;
              font-size: 1.25rem;
              line-height: 2.25rem;
              margin: 0.125rem 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .testimonial_container {
    
    .bg_container{
      background-size: cover;
    .client {
       
        .client_header {
         
    
          h1 {
            font-size: 1.125rem;
            line-height: 2rem;
          }
    
          p {
            font-size: 1rem;
            line-height: 1.5rem;
            margin-top: 1.25rem;
          }
        }
    
        .client_testimonial {
           
    
          .testimonial {
            padding: 2rem 1rem 0;
            p {
              font-weight: 400;
              font-size: 1rem;
              line-height: 1.5rem;
              margin-bottom: 3.5rem;
            }
    
            .details {
              padding-bottom: 1.375rem;
    
              lucide-icon {
              display: none;
              }
              .mobile_icon{
               display: inline;
                color: #0e061b;
                background-color: #fff;
                // border-radius: 50%;
            }
              .client_details {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 1rem;
    
                img {
                  width: 2.5rem;
                  height: 2.5rem;
                }
    
                span {
                  font-size: 0.9rem;
                  line-height: 1.3rem;
                }
                p {
                  font-size: 1.2rem;
                  line-height: 2rem;
                  margin: 0.125rem 0;
                  padding: 0;
                }
              }
            }
          }
        }
      }
}
}}