<div class="performance">
    <div class="content">
      <div class="side_text">
        <h3>Our performance over time</h3>
      </div>
        <div class="content_items">
           <div class="item_container">
            <div class="item">
                <h2>50+</h2>
                <p>Successfully executed projects</p>
            </div>
            <div class="item">
                <h2>200+</h2>
                <p>Staff strength contract and full time</p>
            </div>
            <div class="item">
                <h2>30+</h2>
                <p>Tech partners in major sectors globally</p>
            </div>
           </div>
        </div>
    </div>
</div>