<nav class="navbar navbar-expand-lg" *ngIf="data">
    <a routerLink="" class="navbar-brand">
      <img [src]="data[0].logo" alt="logo" class="nav_logo" loading="lazy" />
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <lucide-icon name="menu"></lucide-icon>
    </button>
    <div class="collapse navbar-collapse menu" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto nav_links" [ngClass]="{'vybecash' : data[0].title === 'VybeCash'}">
        <a routerLink="{{data[0].routeTo}}" [routerLinkActive]="'active_link'" class="nav-link">{{data[0].routeName}}</a>
        <a routerLink="/" [routerLinkActive]="'active_link'" class="nav-link">Our Services</a>
        <a routerLink="/projects" [routerLinkActive]="'active_link'" class="nav-link">Our Projects</a>
        <a routerLink="/hire" [routerLinkActive]="'active_link'" class="nav-link">Hire a Developer</a>
      </div>
    </div>
  </nav>