<div class="header" *ngIf="headers" >
   <div class="absolute_element" >

<div class="nav_container">
    <nav class="nav navbar navbar-expand-lg d-flex" *ngFor="let header of headers; let i = index">
        <a routerLink=""><img src={{header.logo}} alt="logo" class="nav_logo" loading="lazy" /></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <lucide-icon name="menu"></lucide-icon>
      </button>
      <div class="collapse navbar-collapse menu"
       id="navbarNavAltMarkup"
       [ngClass]="{'mobile-background': isMobile}">
        <div class="navbar-nav ms-auto nav_links">
          <a routerLink="{{header.routeTo}}" [routerLinkActive]="'active_link'" class="nav-link" [ngStyle]="{ 'color': header.title === 'VybeCash' || isMobile ? 'black' : 'white' }">{{header.routeName}}</a>
          <a routerLink="" [routerLinkActive]="'active_link'" class="nav-link" [ngStyle]="{ 'color': header.title === 'VybeCash' || isMobile ? 'black' : 'white' }">Our Services</a>
          <a routerLink="/projects" [routerLinkActive]="'active_link'" class="nav-link" [ngStyle]="{ 'color': header.title === 'VybeCash' || isMobile ? 'black' : 'white' }">Our Projects</a>
          <a routerLink="/hire" [routerLinkActive]="'active_link'" class="nav-link" [ngStyle]="{ 'color': header.title === 'VybeCash' || isMobile ? 'black' : 'white' }">Hire a Developer</a>
        </div>
      </div>
    </nav>
</div>





    <div class="header_links" *ngFor="let header of headers">
     <h1  [ngClass]="{ 'vybecash': header.title === 'VybeCash' }">{{header.title}}</h1>
     <p [ngClass]="{ 'vybecash': header.title === 'VybeCash' }">{{header.desc}}</p>
    <div class="btn">
         <button *ngFor="let item of header.btn; let i = index" [ngStyle]="{ 'background-color': header.btnColors[i] }">{{item}}

         </button>
    </div>
    </div>
    <div class="header_hero" *ngFor="let header of headers"
    [ngClass]="{
      'optiva': header.title === 'Optiva',
      'vybecash': header.title === 'VybeCash',
      'default-padding': header.title !== 'Optiva' && header.title !== 'VybeCash',
      'mobile-padding': isMobile
    }"
    >
        <img [src]="header.bg" class="brand_color"
        >
        <img [src]="header.img" class="brand_image">
    </div>
   
   </div>
  </div>