.hero_container {
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #81808f;

  .hero_text {
    padding-top: 7.0625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .hero_title{
      width: 28.75rem;
      height: 28.375rem;
    h1 {
      font-weight: 500;
      letter-spacing: 0%;
    }

    .colored_text {
      color: #7433d3;
    }

    p {
      margin-top: 1rem;
    }
    button {
      background-color: #7433d3;
      border-radius: 40px;
      padding: 0.75rem 5.53125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: none;
      color: #ffffff;
      
      span {
        font-weight: 700;
        transition: 0.5s;
        letter-spacing: 2%;
      }
    
      lucide-icon {
        display: none;
      }
    
      &:hover {
        
        span {
          display: inline-block;
          padding-right: 1rem;
        }
        lucide-icon {
          display: inline-block;
          color: #ffffff;
          vertical-align: baseline;
        }
      }
    }
    

    }

  
    .explore {
    

      .explore_link {
        text-decoration: none;
        color: #0e0e0e;
        display: flex;
        font-weight: 700;
        letter-spacing: 0.025rem;
        padding: 0.625rem 0;
        gap: 0.8125rem;
      }
    }
  }
  .hero_img {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}



.nav_container {
  width: 100%;
  position: absolute;

  
}

@media only screen and (max-width: 768px) {
  .hero {
   text-align: center;
  
    

    .hero_text {
      width: 100%;
      height: 100%;
      padding-top: 7rem;
      padding-bottom: 2rem;
      .hero_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h1 {
          font-size: 3rem;
          line-height: 4rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.5rem;
          margin-top: 1rem;
          margin-bottom: 1.5rem;
        }
      }
     
      .explore {
        display: flex;
        gap: 0.625rem;
        justify-content: center;

        .explore_link {
          font-size: 1rem;
        }
      }
    }
    .hero_img {
      display: none;
    }
  }
  .nav_container {
    .navbar {
      padding: 1.5rem;
      justify-content: space-between;
      .nav_logo {
        max-width: auto;
      }
      .menu{
        background-color: #fff;
      }
      .nav_links {
        gap: 1rem;
      }
    }
  }
}
