<div class="hero_container">
  <div class="nav_container">
 <app-navbar [data]="navbar" linkColor="black"></app-navbar>
  </div>

<div class="hero">
   
    <div class="hero_text">
        <div class="hero_title">
            <h2 class="">You think it,
                <br><span class="colored_text">We build it</span>
            </h2>
            <p>Get help you at every stage of your product development lifecycle. Conquer the market with a truly invested software technology team by your side.</p>
            
            <button class="btn" >
              <span> Let's talk</span>
               <lucide-icon
               name="arrow-right"
               [size]="24"
               [strokeWidth]="2"
             ></lucide-icon>
             </button>
        </div>
    <div class="explore">
        <a class="explore_link" href="">Explore all service 
           <img src="assets/icons/arrow.svg" alt="">
        </a>
    </div>
    </div>

    

    <div class="hero_img">
        <img src="assets/pic1.jpg" alt="hero" loading="lazy">
    </div>
</div>
</div>