@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

  a:hover{
    font-weight: 600;
}
.muted_text{
  color: #81808F;
}
 
 .view{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10rem;
  margin-top: 10rem;
}
.view h4{
  color: #81808F;
}

/* Product Pages Styling  */

.vybe .bg,.afrexim .bg,.optiva .bg{
  width: 100%;
  height: auto;
  position: relative;
 }
 
 .vybe .img,.afrexim .img,.optiva .img{
    width: auto;
    height: 100%; 
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 .nav {
     position: absolute; 
     top: 0;
     left: 0;
     z-index: 2;
     width: 80%; 
     display: flex; 
     justify-content: space-between; 
     align-items: center;
     padding: 1rem 4rem; 
   }
 .nav a{
     text-decoration: none;
     color: #fff;
 }
 .vybe .nav a, .vybe .text{
  color: #000;
 }
 .text{
     position: absolute;
     left: 50%;
     top: 40%;
     transform: translate(-50%,-50%);
     z-index: 1;
     text-align: center;
     color: #fff;
 }
 .text h1{
     font-weight: 600;
     font-size: 3rem;
     margin-bottom: 0;
 }
 button{
     border: none;
     outline: none;
     background-color: azure;
     padding: 5px;
     margin: 0px 5px;
     border-radius: 5px;
 }
 .btn{
  margin-top: 10px;
 }


@media only screen and (max-width:768px) {
  .view{
    padding-top: 1rem;
    margin-top: 1rem;
  }
  .vybe .bg,.afrexim .bg,.optiva .bg {
    max-width: 100%;
}

.vybe .img,.afrexim .img,.optiva .img {
    display: none !important;
}
.text{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: unset;
    top: 8%;
    transform: unset; 
}
.text h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.text p {
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 0;
}


.nav {
    width: 80%; 
    padding: 10px 20px; 
}
.colored_btn{

 // border-radius: 40px;
  width: 10rem;
  height: 2rem;
  font-size: 0.75rem;
 
}
}