.btn {
  background-color: #7433d3;
  border-radius: 40px;
  width: 16.1875rem;
  height: 3.75rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

lucide-icon{
    display: none;
}

  &:hover {
    background-color: #000;
    lucide-icon{
        display: inline-flex;
        color: #ffffff;
    }
  }
  
}
