.container{
    padding: 4rem 6rem;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    align-items: center;
}
.header h2{
    font-weight: 600;
    color: #7433D3;
}
.icon_container {
   background-color: #8D1880;
   text-align: center;
   width: 30px;
   height: 30px;
   padding: 5px;
   border-top-right-radius: 20px;

  }

  .icon_container lucide-icon {
    color: white; 
  }
.content{
    display: flex;
    gap: 4rem;
    justify-content: center;
    padding: 0rem 4rem;
}
.other{
    width: 100%;
    border-radius: 10px;
    border: solid 1px #DEDEDE;
    padding: 1rem;
}
.other h4{
    color: #7433D3;
}
.other h3{
    font-weight: 600;
    font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
    .content{
        flex-direction: column;
        padding: 0rem 1rem;
    }
    .container{
        padding: 2rem;
    }
    .header{
       padding: 0rem;
    }
    .header h2{
        padding: 0rem 1rem;
    }
  
    .icon_container {
       width: 25px;
       height: 25px;
      }
      
    .other h3{
        font-size: 1rem;
    }
    .other p{
        font-size: small;
        color: var(--flwmn-accent-color-100);
    }
    .other img{
        width: 100%;
        height: auto;
    }
}